<div class="" id="index">
    <!-- Page 3 PDF-->
    <p style="background-color: blue; color: orange;text-align: center;">
        BATIR SEREINEMENT ET RAPIDEMENT SA NOUVELLE VIE PROFESSIONNELLE !
        <br>
        Des prestations sur-mesure, haut de gamme, avec un service automatisé de diffusion de CV
    </p>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <ul>
                    <li>
                        Votre emploi ne vous convient pas et vous ne savez pas pour quel métier vous êtes fait(e) ?
                    </li>
                    <li>
                        Vous avez plusieurs compétences et souhaitez savoir pour quel métier vous avez le plus de chances d’être recruté(e) ?
                    </li>
                    <li>
                        Vous avez des difficultés à rédiger un CV et une lettre de motivation attractifs ?
                    </li>
                    <li>
                        Trouver les coordonnées des recruteurs vous prend trop de temps ?
                    </li>
                    <li>
                        Vous avez envoyé de nombreux CV et n’avez pratiquement obtenu aucun entretien ?
                    </li>
                    <li>
                        Vous n’êtes pas à l’aise en entretien de recrutement ?
                    </li>
                    <li>
                        Vos entretiens n’aboutissent pas à des propositions d’emploi ?
                    </li>
                    <li>
                        Vous avez besoin de trouver un emploi au plus vite ?
                    </li>
                    <li>
                        Vous souhaitez être accompagné(e) par un(e) professionnel(le) expérimenté(e) tout au long de votre recherche d’emploi ?
                    </li>
                    <li>
                        ...
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                Vidéo :
                <div class="well"></div>
            </div>
        </div>
    </div>
    <p style="background-color: blue; color: orange;text-align: center;">
        <b>
            Pas de panique, nous pouvons vous aider ! 
        </b>
    </p>
    <!-- Page 4 PDF-->
    <div class="container-fluid">
        <p style="text-align:center;color:blue;">
            <b>
                Pourquoi faire appel à nos services ?
            </b>
        </p>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-2">
                    <div class="well"></div>
                </div>
                <div class="col-md-8">
                    <b>L’expérience :</b> depuis 2007, nous avons aidé des centaines de candidats ; 
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="well"></div>
                </div>
                <div class="col-md-8">
                    <b>L’expertise :</b> nos consultants sont tous des professionnel(le)s possédant au moins 10 années d’expérience dans le recrutement ;
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="well"></div>
                </div>
                <div class="col-md-8">
                    <b>L’implication : </b> pour vous satisfaire, la majorité de nos prestations sont d’une durée illimitée ou garanties (remboursement en cas d’absence de contact avec des recruteurs) ; nous nous adaptons à vos contraintes géographiques et horaires ; nos consultants s’investissent pleinement (rédigent votre curriculum vitae, votre lettre de motivation, votre présentation...)... ;
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="well"></div>
                </div>
                <div class="col-md-8">
                    <b>Des services efficaces : </b> nous pouvons vous rendre opérationnel(le)s dans votre recherche d’emploi en seulement 1 mois ; 100 % des personnes dont nous avons réécrit et diffusé le CV ont été rapidement recontactées par des recruteurs; ... ; 
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="well"></div>
                </div>
                <div class="col-md-8">
                    <b>
                        Une base de données de plus de de 190.000 recruteurs qualifiés...
                    </b>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well"></div>
        </div>
        <p style="text-align:center;color:blue;">
            <b>
                Ils nous ont fait confiance et sont pleinement satisfaits !
            </b>
        </p>
    </div>
    <!-- Page 5 PDF-->
</div>
