<div id="whyus">
    <h3></h3>
    <div class="container">
        <div class="row">
            <div class="col-sm-2 text-center">
                <img src="#" alt="Img">
            </div>
            <div class="col-md-8">
                <p>
                    <b>
                        <i class="fa fa-check"></i>&nbsp;&nbsp;&nbsp;&nbsp;Un accompagnement de haut niveau, sur-mesure et outillé 
                    </b><br>
                    L’accompagnement par un professionnel permet de gagner du temps et d’éviter de commettre des erreurs préjudiciables. Notre cabinet  met à disposition des consultants expérimentés ayant au moins dix années d’expérience.<br>
                    L’accompagnement est totalement individualisé et intensif, en face à face et/ou à distance, pendant ou en dehors des heures de travail, pour un rapide accès à l’emploi.<br>
                    NOM-CABINET a développé de nombreux outils informatiques, comme son propre moteur de recherche d’offres d’emploi qui référence des centaines de milliers d’offres.<br>
                    Et surtout, NOM-CABINET dispose d’une base de données, régulièrement mise à jour, de plus de 190.000 recruteurs au niveau national et international. Elle comprend les profils recherchés, la localisation des postes et les types de contrats proposés par ces recruteurs. 
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 text-center">
                <img src="#" alt="Img">
            </div>
            <div class="col-md-8">
                <p>
                    <b>
                        <i class="fa fa-check"></i>&nbsp;&nbsp;&nbsp;&nbsp;Des prestations garanties ou illimitées 
                    </b><br>
                    Comme chaque personne est différente, la majorité des prestations sont illimitées : prix forfaitaire et autant de temps que nécessaire pour définir son projet professionnel, obtenir un CV et une lettre de motivation efficaces, pour se sentir à l’aise en entretien... Dans le cas de l’outplacement, l’accompagnement peut même aller jusqu’à la fin de la période d’essai du candidat en entreprise.<br>
                    Si le CV du candidat a été valorisé par NOM-CABINET, le résultat de sa diffusion auprès des recruteurs est garanti :  nous  nous  engageons à rembourser intégralement la prestation de diffusion du CV si le candidat n’était pas recontacté par des recruteurs sous un mois à compter de la diffusion de son CV (cela ne s’est encore jamais produit). 
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 text-center">
                <img src="#" alt="Img">
            </div>
            <div class="col-md-8">
                <p>
                    <b>
                        <i class="fa fa-check"></i>&nbsp;&nbsp;&nbsp;&nbsp;Nos valeurs
                    </b><br>
                    Notre cabinet est fondé sur des valeurs humaines solides : l’écoute, la bienveillance, l’empathie, l’entraide...
                </p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-sm-2">
                <img src="#" alt="Img">
            </div>
            <div class="col-md-8">
                <p>
                    <b>
                        <i class="fa fa-check"></i>&nbsp;&nbsp;&nbsp;&nbsp;La satisfaction de nos clients
                    </b><br>
                </p>
            </div>
        </div>
        <p>
            <b>
                Il nous reste tant d’autres histoires à écrire... Pourquoi pas la vôtre 
            </b>
        </p>
    </div>
</div>
