<h3>Contact</h3>

<div class="formulaire-rdv">
    <h4>Pour nous téléphoner :</h4>
    <p>01 XX XX XX XX</p>

    <h4>Pour prendre rendez-vous :</h4>
    <p>Le premier rendez-vous est gratuit et sans engagement !</p>

    <form class="" action="index.html" method="post">
      <h6>Agenda déroulant avec disponibilités.</h6>
      <input type="date" name="date"><br><br>

      Prénom* :<input class="form" type="text" name="prenom" required><br>
      Nom* :<input type="text" name="nom" required><br>
      Fonction :<input type="text" name="fonction">
      Email :<input type="email" name="email"><br>
      Téléphone* :<input type="phone" name="telephone" required><br>
      Identifiant Skype :<input type="text" name="skype"><br>
    </form>
</div>

<div class="formulaire-commentaire">

</div>

<div class="titre-centree">

</div>

<div class="titre-centree">

</div>

<div class="titre-centree">

</div>

<div class="titre-centree">

</div>

<div class="titre-centree">

</div>
