<div id="polConfidential">
    <div id="title">
        <h3>Politique de confidentialité et d’utilisation des données personnelles</h3>
        <p>au jj/mm/aaa</p>
    </div>
    <div class="container" id="content">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-md-10">
                <p>
                    <b>
                        POLITIQUE DE CONFIDENTIALITÉ ET D'UTILISATION DES DONNÉES PERSONNELLES<br>
                        Définition des termes utilisés dans la politique de confidentialité
                    </b><br>
                    On désignera par la suite :<br><br>
                    « <b>Donnée personnelle</b> » : se définit comme « toute information relative à une personne physique identifiée ou qui peut être identifiée, directement ou indirectement, par référence à un numéro d'identification ou à un ou plusieurs éléments qui lui sont propres », conformément à la loi Informatique et libertés du 6 janvier 1978.<br>
                    « <b>Service</b> » : le site Internet https://avenuedesrecruteurs.fr.<br>
                    « <b>Editeur</b> » ou « <b>Nous</b> » : NOM-CABINET, personne morale ou physique responsable de l'édition et du contenu du Service.<br>
                    « <b>Utilisateur</b> » ou « <b>Vous</b> » : l'internaute visitant et utilisant le Service.<br><br>
                    <b>Article 1 - Introduction et rôle de la Politique de confidentialité</b><br>
                    La présente charte vise à vous informer des engagements du Service eu égard au respect de votre vie privée et à la protection des Données personnelles vous concernant, collectées et traitées à l'occasion de votre utilisation du Service. Il est important que vous lisiez la présente politique de confidentialité afin que vous soyez conscient des raisons pour lesquelles nous utilisons vos données et comment nous le faisons.<br>
                    En vous inscrivant sur le Service, vous vous engagez à nous fournir des informations véritables vous concernant. La communication de fausses informations est contraire aux conditions générales figurant sur le Service.<br>
                    Veuillez noter que la présente Politique de confidentialité est susceptible d’être modifiée ou complétée à tout moment, notamment en vue de se conformer à toute évolution législative, réglementaire, jurisprudentielle ou technologique. La date de sa mise à jour sera clairement mentionnée, le cas échéant.<br>
                    Ces modifications vous engagent dès leur mise en ligne et nous vous invitons donc à consulter régulièrement la présente Politique de confidentialité afin de prendre connaissance des éventuelles modifications. Vous trouverez également la description de vos droits à la protection de la vie privée et la façon dont la loi vous protège.<br>
                    Si vous avez des questions concernant la présente politique de confidentialité ou si vous voulez exercer vos droits tels que décrit à l’article 10 de la présente Politique de confidentialité, veuillez nous contacter par e-mail à l’adresse : <a href="">XXXXXX@NOM-CABINET.fr</a>;<br><br>
                    <b>Article 2 - Données collectées sur le Site</b>
                    Les Données collectées et ultérieurement traitées par le Service sont celles que vous nous transmettez volontairement en remplissant les différents formulaires présents au sein du Service. Pour certaines opérations sur les contenus, vous pourrez être amenés à transmettre des Données vous concernant à des tiers partenaires au travers de leurs propres services, plus spécifiquement lors des paiements que vous pourrez effectuer. Nous ne disposerons pas des dites données, leur collecte et leur traitement étant régis par les conditions propres à ces intervenants. Nous vous invitons à consulter leurs conditions avant de communiquer vos Données dans ce cadre.<br>
                    Votre adresse IP (numéro d'identification attribué sur Internet à votre ordinateur) ainsi que votre « user agent » (modèle d’ordinateur, navigateur, système d’exploitation) sont collectés automatiquement. Vous êtes informés que le Service est susceptible de mettre en œuvre un procédé automatique de traçage (Cookie), auquel vous pouvez faire obstacle en modifiant les paramètres concernés de votre navigateur internet, comme expliqué dans les conditions générales du présent Service.<br>
                    D’une manière générale, il vous est possible de visiter le Service https://NOM-CABINET.fr sans communiquer aucune information personnelle vous concernant. Dans tous les cas, vous n’avez aucune obligation de transmettre ces informations. Néanmoins, en cas de refus, il se peut que vous ne puissiez pas bénéficier de certaines informations ou services.<br>
                    Nous recueillons, utilisons et partageons également des données agrégées telles que des données statistiques ou démographiques quel qu’en soit l’usage. Les données agrégées peuvent provenir de vos informations personnelles mais ne sont pas concernées comme telles par la loi car ces données ne révèlent pas directement votre identité. Par exemple, nous pouvons agréger vos données d’utilisation afin de calculer le pourcentage d’utilisateurs qui accèdent à une fonctionnalité spécifique du Service.<br><br>
                    Aux fins de fournir de meilleurs contenus et services, le Service https://NOM-CABINET.fr utilise le service d’analyse de Google Analytics. Google Analytics ne suit pas vos habitudes de navigation sur des services tiers. Les informations vous concernant auxquelles Google Analytics a accès ne contiennent aucune donnée personnelle vous concernant.<br>
                    Nous ne collectons pas de données dites « sensibles »
                </p>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
</div>
