<!-- Toolbar  -->
<div class="toolbar" role="banner">
  <!--Navbar-->
  <nav class="navbar navbar-expand-xlg bg-white navbar-light ">
  <div class="d-flex" id="navbar-menu">
    <div class="mr-auto" id="navbar-menu-left-side">
  <!-- Links -->
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" routerLink="/index" >Accueil</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="history">
        Notre Histoire
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="whyus">
        Pourquoi nous?
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="parteners">
        Partenariats
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="presentation">
        Prestations
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="witness">
        Témoignages
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="sponsorship">
        Parainages
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="advices">
        Conseils
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="contacts">
        Contacts
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="login">
        Connexion
      </a>
    </li>
  </ul>
</div>
</div>
  </nav>
</div>
 