<div class="tab-content">
  <div id="Home" class="container tab-pane active">
    <br />
    <h3></h3>
    <div
      class=""
      style="text-align:center;background-color: blue;color: orange;"
    >
      <h2>BATIR SEREINEMENT ET RAPIDEMENT SA NOUVELLE VIE PROFESSIONNELLE !</h2>
      <br />
      <h3>
        Des prestations sur-mesure, haut de gamme, avec un service automatisé de
        diffusion de CV
      </h3>
    </div>
    <div class="row">
      <div class="col-md-8">
        <br />
        <ul>
          <li>
            Votre emploi ne vous convient pas et vous ne savez pas pour quel
            métier vous êtes fait(e) ?
          </li>
          <li>
            Vous avez plusieurs compétences et souhaitez savoir pour quel métier
            vous avez le plus de chances d’être recruté(e) ?
          </li>
          <li>
            Vous avez des difficultés à rédiger un CV et une lettre de
            motivation attractifs ?
          </li>
          <li>
            Trouver les coordonnées des recruteurs vous prend trop de temps ?
          </li>
          <li>
            Vous avez envoyé de nombreux CV et n’avez pratiquement obtenu aucun
            entretien ?
          </li>
          <li>Vous n’êtes pas à l’aise en entretien de recrutement ?</li>
          <li>
            Vos entretiens n’aboutissent pas à des propositions d’emploi ?
          </li>
          <li>Vous avez besoin de trouver un emploi au plus vite ?</li>
          <li>
            Vous souhaitez être accompagné(e) par un(e) professionnel(le)
            expérimenté(e) tout au long de votre recherche d’emploi ?
          </li>
          <li>...</li>
        </ul>
        <br />
      </div>
      <div class="col-md-4">
        <p>Vidéo :</p>
        <div class="fakeimg" style="height:200px;">Image</div>
      </div>
    </div>
    <div
      class=""
      style="text-align:center; background-color: blue;color: orange;"
    >
      <h2>Pas de panique, nous pouvons vous aider !</h2>
    </div>
  </div>
  <div id="History" class="container tab-pane fade">
    <br />
    <h3 style="text-align:center; color: blue;">Notre histoire</h3>
    <div class="row">
      <div class="col-md-8">
        <p>
          NOM-CABINET est née d’un constat simple : il est de plus en plus
          difficile de trouver un emploi !
        </p>
        <ul>
          <li>
            <a href="#"
              >Au 3e trimestre 2020, la durée d’inscription à Pôle emploi
              s’établit à 394 jours, en hausse de 8 jours par rapport au 1er
              trimestre 2020 ;</a
            >
          </li>
          <li>
            Plus de 50 ans : 625 jours (pour les hommes) ; 687 jours (pour les
            femmes).
          </li>
        </ul>
        <p>
          Généralement les candidats ne savent pas assez bien définir leurs
          atouts concurrentiels, ni réaliser un CV et une lettre de motivation
          efficaces. Ils ont du mal à trouver les recruteurs susceptibles d’être
          intéressés par leurs compétences, ne connaissent pas les principales
          techniques pour réussir un entretien de recrutement, ne maîtrisent pas
          l’utilisation des réseaux sociaux pour leur recherche d’emploi...<br />Au
          vu du nombre élevé de personnes à la recherche d’un emploi, le service
          public a peu de temps à consacrer à chacun d’entre eux. Les bénévoles
          n’ont pas toujours le temps et/ou les qualifications adaptées pour
          accompagner les candidats dans leur recherche. Quant aux consultants
          indépendants, ils ne sont pas très outillés (au niveau informatique)
          et les sociétés d’outplacement ont des tarifs inaccessibles pour de
          nombreux candidats.<br /><b
            >Notre cabinet met au service des candidats (de tous profils) des
            consultant(e)s expérimenté(e)s et investi(e)s, dotés d’outils
            informatiques puissants, à des tarifs concurrentiels.</b
          >
        </p>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
  <div id="WhyUs" class="container tab-pane fade">
    <br />
    <h3 style="text-align:center; color: blue;">Pourquoi nous ?</h3>
    <div class="row">
      <div class="col-sm-1"><div class="fakeimg">Fake Image</div></div>
      <div class="col-md-8">
        <p>
          <span class="glyphicon glyphicon-ok"></span
          ><b> Un accompagnement de haut niveau, sur-mesure et outillé</b><br />
          L’accompagnement par un professionnel permet de gagner du temps et
          d’éviter de commettre des erreurs préjudiciables. Notre cabinet met à
          disposition des consultants expérimentés ayant au moins dix années
          d’expérience.<br />
          L’accompagnement est totalement individualisé et intensif, en face à
          face et/ou à distance, pendant ou en dehors des heures de travail,
          pour un rapide accès à l’emploi.<br />
          NOM-CABINET a développé de nombreux outils informatiques, comme son
          propre moteur de recherche d’offres d’emploi qui référence des
          centaines de milliers d’offres.<br />
          Et surtout, NOM-CABINET dispose d’une base de données, régulièrement
          mise à jour, de plus de 190.000 recruteurs au niveau national et
          international. Elle comprend les profils recherchés, la localisation
          des postes et les types de contrats proposés par ces recruteurs.<br />
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1"><div class="fakeimg">Fake Image</div></div>
      <div class="col-md-8">
        <p><span class="glyphicon glyphicon-ok"></span><b>  Des prestations garanties ou illimitées</b><br />Comme chaque personne est différente, la majorité des prestations sont illimitées : prix forfaitaire et autant de temps que nécessaire pour définir son projet professionnel, obtenir un CV et une lettre de motivation efficaces, pour se sentir à l’aise en entretien... Dans le cas de l’outplacement, l’accompagnement peut même aller jusqu’à la fin de la période d’essai du candidat en entreprise.<br>Si le CV du candidat a été valorisé par NOM-CABINET, le résultat de sa diffusion auprès des recruteurs est garanti :  nous  nous  engageons à rembourser intégralement la prestation de diffusion du CV si le candidat n’était pas recontacté par des recruteurs sous un mois à compter de la diffusion de son CV (cela ne s’est encore jamais produit).<br></p>
      </div>
    </div>
    <div class="row">
        <div class="col-sm-1"><div class="fakeimg">Fake Image</div></div>
        <div class="col-md-8">
          <p><span class="glyphicon glyphicon-ok"></span><b>Nos valeurs</b><br />Notre cabinet est fondé sur des valeurs humaines solides : l’écoute, la bienveillance, l’empathie, l’entraide... <br></p>
        </div>
    </div>
    <div class="row">
          <div class="col-sm-1"><div class="fakeimg">Fake Image</div></div>
          <div class="col-md-8">
            <p><span class="glyphicon glyphicon-ok"></span><b>La satisfaction de nos clients</b><br /></p>
          </div>
    </div>
    <b style="text-align:center;">Il nous reste tant d’autres histoires à écrire... Pourquoi pas la vôtre ?</b>
  </div>
      <div id="Parteners" class="container tab-pane fade">
        <br />
        <h3 style="text-align:center; color: blue;">Notre histoire</h3>
        <div class="row">
          <div class="col-md-8"></div>
          <div class="col-md-4"></div>
        </div>
      </div>
      <div id="Presentation" class="container tab-pane fade"><br /></div>
      <div id="Witness" class="container tab-pane fade">
        <br />
        <h3 style="text-align:center; color: blue;">Notre histoire</h3>
        <div class="row">
          <div class="col-md-8"></div>
          <div class="col-md-4"></div>
        </div>
      </div>
      <div id="Sponsorship" class="container tab-pane fade">
        <br />
        <h3 style="text-align:center; color: blue;">Notre histoire</h3>
        <div class="row">
          <div class="col-md-8"></div>
          <div class="col-md-4"></div>
        </div>
      </div>
      <div id="Advices" class="container tab-pane fade"><br /></div>
      <div id="Contacts" class="container tab-pane fade">
        <br />
        <h3 style="text-align:center; color: blue;">Notre histoire</h3>
        <div class="row">
          <div class="col-md-8"></div>
          <div class="col-md-4"></div>
        </div>
      </div>
      <div id="LogIn" class="container tab-pane fade"><br /></div>
    </div>
  </div>
</div>
