<div class="titre-centree">
    <h3 id="titre-bleu">Exemples de prestations</h3>
</div>
<p><b>Une offre de prestations large et variée adaptable selon votre projet professionnel et vos besoins :</b></p>
<ul class="puce-caree">
    <li style="text-decoration: underline;">Bilan professionnel :</li>
    <li style="text-decoration: underline;">Valorisation de CV et lettre de motivation :</li>
    <li style="text-decoration: underline;">Préparation aux entretiens de recrutement :</li>
    <li style="text-decoration: underline;">Diffusion aux recruteurs du CV et de la lettre de motivation : </li>
    <li style="text-decoration: underline;">Formation aux réseaux sociaux :</li>
    <li style="text-decoration: underline;">Outplacement – Inplacement :</li>
    <li>Accompagnement - conseil :</li>
</ul>
<div class="container-fluid">
    <div class="titre-centree">
        <h3 id="titre-bleu">Exemples de prestations</h3>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-6">
            <ul class="puce-caree">
                <li style="text-decoration: underline;">Bilan professionnel :</li>
                <li style="text-decoration: underline;">Valorisation de CV et lettre de motivation :</li>
                <li style="text-decoration: underline;">Préparation aux entretiens de recrutement :</li>
                <li style="text-decoration: underline;">Diffusion aux recruteurs du CV et de la lettre de motivation : </li>
                <li style="text-decoration: underline;">Valorisation et diffusion aux recruteurs du CV et de la lettre de motivation :</li>
                <li style="text-decoration: underline;">Formation aux réseaux sociaux :</li>
                <li style="text-decoration: underline;">Outplacement – Inplacement :</li>
                <li>Accompagnement - conseil :</li>
            </ul>
        </div>
        <div class="col-md-4 well">
            
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

