<!-- Footer -->
<footer>
  <div class="black-box">
    <p>
      <b>
        L’utilisation du site vaut acception des conditions générales et de l’utilisation des cookies
      </b><button class="btn-primary">OK</button>
    </p>

  </div>
  <p>Réseaux sociaux </p>
  <div class="footbar navbar-expand-xlg">
      <div>
        <ul class="foot">
          <li class="nav-item">
            <a class="nav-link" routerLink="index" style="text-decoration: none;">
              &#169; NOM-CABINET 2021
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="mlegal">
              Coordonnées - mentions légales
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="#">
              Conditions générales
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="#">
              Protection des données
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="#">
              Plan du site
            </a>
          </li>
        </ul>
      </div>
  </div>
</footer>
