<div class="" style="margin-top: 30px;">
    <h3 style="color: blue;text-align: center;">Notre Histoire</h3>
    <div class="row">
        <div class="col-md-8">
            <p>NOM-CABINET est née d’un constat simple : il est de plus en plus difficile de trouver un emploi !</p>
            <ul>
                <li>
                    <a href="#">Au 3e trimestre 2020, la durée d’inscription à Pôle emploi s’établit à 394 jours, en hausse de 8 jours par rapport au 1er trimestre 2020 ;</a>
                </li>
                <li>
                    Plus de 50 ans : 625 jours (pour les hommes) ; 687 jours (pour les femmes).
                </li>
            </ul>
            <p>
                Généralement les candidats ne savent pas assez bien définir leurs atouts concurrentiels, ni réaliser un CV et une lettre de motivation efficaces. Ils ont du mal à trouver les recruteurs susceptibles d’être intéressés par leurs compétences, ne connaissent pas les principales techniques pour réussir un entretien de recrutement, ne maîtrisent pas l’utilisation des réseaux sociaux pour leur recherche d’emploi...
                <br>
                Au vu du nombre élevé de personnes à la recherche d’un emploi, le service public a peu de temps à consacrer à chacun d’entre eux. Les bénévoles n’ont pas toujours le temps et/ou les qualifications adaptées pour accompagner les candidats dans leur recherche. Quant aux consultants indépendants, ils ne sont pas très outillés (au niveau informatique) et les sociétés d’outplacement ont des tarifs inaccessibles pour de nombreux candidats. 
                <br>
                <b>
                    Notre cabinet met au service des candidats (de tous profils) des consultant(e)s expérimenté(e)s et investi(e)s, dotés d’outils informatiques puissants, à des tarifs concurrentiels.
                </b>
            </p>
        </div>
        <div class="col-md-4">
            <img src="../../assets/img/cabinet4.JPG" alt="">
            <img src="../../assets/img/cabinet5.JPG" alt="">
        </div>
    </div>
</div>