<div class="container-fluid mt-10">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#Home">Accueil</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#History">Notre Histoire</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#WhyUs">Pourquoi nous?</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#Parteners">Partenariats</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#Presentation">Prestations</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#Witness">Temoignages</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#Sponsorship">Parainages</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#Advices">Conseils</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#Contacts">Contacts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#LogIn" class="right"
        >Login</a
      >
    </li>
  </ul>
</div>
